.insertCont, .listCont{
  margin: auto;
  margin-top: 5%;
  width: 80%;
  }
  .taskStyle{
    display: grid;
    grid-template-columns:  80% 10% 10%;
     grid-column-gap: 1%; 
     margin-bottom: 10px;  }


  .POPUP{
    position: absolute !important;
    width: 50% !important;
    left: 30%;
    z-index: 1000; 
  }
  